{% extends "auctions/layout.html" %}

{% block body %}


<div>
    <p>
        <br>

    <h2>List of Active Auctions in {{category}} category: </h1>
        <ul>
            {% for listing in listofauctions %}
            {% if listing.openess %}
            {% if category == listing.category.categoryname %}
            <li>
                <div><img src={{listing.image}} alt="BLANK" style="width: 7%;"></div>
                <a href="{% url 'auctiondisplay' listing.id %}">
                    <p>{{listing.title}}
                </a>
                <br>{{listing.descript}}
                <br>{{listing.category}}
                <br>{{listing.price}}
                <br>Status: Open
                <br>
                <h6>Owner: {{listing.userauction}}</h6>
                </p>

            </li>
            <hr>
            {% endif %}
            {% endif %}
            {% endfor %}
        </ul>
        </p>
</div>



<p><br>
<h2>Completed Auctions in {{category}} category: </h2>
<div>
    {% for auction in auctionfinish %}
    {% if auction.category.categoryname == category %}
    <div>
        <br><img src="{{auction.image}}" alt="BLANK" style="width: 7%;">
        <a href="{% url 'auctiondisplay' auction.id %}">
            <br>Title: {{auction.title}}</a>
        <br>Description: {{auction.descript}}
        <br>Final Price: {{auction.price}}
        <br>Winner: {{auction.winner}}
        <br>Time of Closing: {{auction.datefinished}}
        <br>
    </div>
    <hr>
    {% endif %}
    {% endfor %}
    </p>
</div>




{% endblock %}