{% extends "auctions/layout.html" %}

{% block body %}

{% if auctiondisplay.openess == False %}
<div class="alert alert-info" role="alert">
    Auction Closed!
    {% if auctiondisplay.winner == user.username %}
    <div class="alert alert-info" role="alert">
        <h2>You {{user.username}} is THE WINNER!</h2>
    </div>
    {% elif auctiondisplay.winner == "No Winner" %}
    <br>No Winner.
    {% else %}
    <br>Winner is user: {{auctiondisplay.winner}}!
    {% endif %}

</div>

{% endif %}

<h1>{{auctiondisplay.title}}</h1>

<!--
    Auction Data
    -->
<div>
    <img src="{{auctiondisplay.image}}" class="img-fluid img-thumbnail" style="max-width: 35%;" alt="BLANK">
    <h3>{{auctiondisplay.title}}</h3>
    <h2>
        <p>{{auctiondisplay.descript}}<br>PRICE: ${{auctiondisplay.price}}<br>Category: {{auctiondisplay.category}}
            <br>Owner: {{auctiondisplay.userauction}} <br>Creation time: {{auctiondisplay.datecreate}}
        </p>
    </h2>

    <!--
    BOTOES DE WISH AND UNWISH
    -->
    {% if onwithlist and auctiondisplay.openess %}
    <p>
    <form action="{% url 'wishlist' auctiondisplay.id  %}" method="POST">
        {% csrf_token %}
        <input class="btn btn-primary" type="submit" value="Add to wishlist">
    </form>
    </p>
    {% elif auctiondisplay.openess == False %}
    {% else %}
    <p>
    <form action="{% url 'unwishlist' auctiondisplay.id  %}" method="POST">
        {% csrf_token %}
        <input class="btn btn-primary" type="submit" value="UnWish">
    </form>
    </p>
    {% endif %}

    {%if endauction and auctiondisplay.openess %}
    <p>
    <form action="{% url 'endauction' auctiondisplay.id  %}" method="POST">
        {% csrf_token %}
        <input class="btn btn-primary" type="submit" value="Close Auction">
    </form>
    </p>
    {% endif %}


    {% if user.id and auctiondisplay.openess %}
    <form action="{% url 'newcomment' auctiondisplay.id  %}" method="POST">
        {% csrf_token %}
        <div>{{comment.commentarea}}
            <input type="submit" class="btn btn-primary" value="Comment">
        </div>
    </form>
    {% elif auctiondisplay.openess == False %}
    <br>
    <div class="alert alert-secondary" role="alert">
        <h1>Auction Closed - no further comments alowed</h1>
    </div>

    {% else %}
    <h2>
        <p><br><a class="alert alert-secondary" href="{% url 'login' %}" style="color: rgb(92, 0, 0);">Comment</a>
    </h2><br>
    </p>
    {% endif %}

    {% for comm in commentsall %}
    {% if comm.auction == auctiondisplay %}
    <h6 class="border" style="max-width: 50%;">
        <p> {{ comm.commentarea }} <br> by {{ comm.usercomment }}
            <br>
            <cite style="font-size: 75%;">{{ comm.datecreate }}</cite>
        </p>
    </h6>
    {% endif %}
    {% endfor %}

</div>
<div>
    {% if user.id and auctiondisplay.openess %}
    <form action="{% url 'newbiding' auctiondisplay.id %}" method="POST">
        {% csrf_token %}
        {{ BidsForm.bid }}
        <input type="submit" class="btn btn-primary" value="bid">
    </form>
    {% elif auctiondisplay.openess == False %}
    <br>
    <div class="alert alert-secondary" role="alert">
        <h1>Auction Closed - no further bidding alowed</h1>
    </div>
    {% else %}
    <h2>
        <p><br><a class="alert alert-secondary" href="{% url 'login' %}" style="color: rgb(92, 0, 0);">Make a
                Bid</a>
    </h2><br>
    </p>


    {% endif %}
    {% for bids in bidsall %}
    {% if bids.auction.id == auctiondisplay.id %}
    <h4 class="border" style="max-width: 50%;">Bid: {{bids.bid}} for the "{{bids.auction.title}}" <br>
        by {{bids.userbid}}
        <br><cite style="font-size: 75%;">{{ bids.datecreate }}</cite>
    </h4>

    {% endif %}
    {% endfor %}
</div>

{% endblock %}