{% extends "auctions/layout.html" %}

{% block body %}

<h1>{{auctiondisplay.title}}</h1>

<div>
    <img src="{{auctiondisplay.image}}" class="img-fluid img-thumbnail" style="max-width: 35%;" alt="BLANK">
    <h3>{{auctiondisplay.title}}</h3>
    <h2>
        <p>{{auctiondisplay.descript}}<br>PRICE: ${{auctiondisplay.price}}<br>{{auctiondisplay.category}} </p>
    </h2>


    <form action="{% url 'newcomment' auctiondisplay.id user.id %}" method="POST">
        {% csrf_token %}
        <div>{{comment.commentarea}}
            <input type="submit" value="Comment" style="margin: 2%;">
        </div>
    </form>

    {% for comm in commentsall %}
    <h6 class="border" style="max-width: 50%;">
        <p> {{ comm }} <br> by {{ comm.usercomment }}</p>
    </h6>
    {% endfor %}

</div>
<div>
    <form action="{% url 'newbiding' auctiondisplay.id user.id %}" method="POST">
        {% csrf_token %}
        {{ BidsForm.bid }}
        <input type="submit" value="bid" style="margin: 2%;">
    </form>

    {% for bids in bidsall %}
    {% if bids.auction.id == auctiondisplay.id %}
    <h4 class="border" style="max-width: 50%;">Bid: {{bids.bid}} for the "{{bids.auction.title}}" <br>
        by {{bids.userbid}}</h4>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}