{% extends "auctions/layout.html" %}

{% block body %}

<h2>Options for {{ user.username }}: </h2>

<a href="{% url 'newListing' %}" class="list-group-item list-group-item-action" style="max-width: 35%">Add new
    Listing</a>


<a href="{%url 'listListing' %}" class="list-group-item list-group-item-action" style="max-width: 35%">See
    categorys available</a>


<div>
    <p>
        <br>
    <h2>List of Active Auctions: </h1>
        <ul>
            {% for listing in listofauctions %}
            {% if listing.openess %}
            <li class="img-thumbnail" style="max-width: 40%;">
                <div><img src={{listing.image}} alt="BLANK" class="img-thumbnail" style="width: 30%;"></div>
                <a href="{% url 'auctiondisplay' listing.id %}">
                    <p>{{listing.title}}
                </a>
                <br>Description: {{listing.descript}}
                <br>Category: {{listing.category}}
                <br>Price: {{listing.price}}
                <br>Status: Open since {{listing.datecreate}}
                <br>
                <h6>Owner: {{listing.userauction}}</h6>
                </p>

            </li>
            <hr>
            {% endif %}
            {% endfor %}
        </ul>
        </p>
</div>



<div>
    <p>
        <br>
    <h2>List of Closed Auctions: </h1>
        <ul>
            {% for listing in listofauctions %}
            {% if listing.openess == False %}
            <li class="img-thumbnail" style="width: 40%;">
                <div><img src={{listing.image}} alt="BLANK" class="img-thumbnail" style="width: 30%;">
                </div>
                <a href="{% url 'auctiondisplay' listing.id %}">
                    <p>{{listing.title}}
                </a>
                <br>Description: {{listing.descript}}
                <br>Category: {{listing.category}}
                <br>Price: {{listing.price}}
                <br>Status: Closed
                <br>Winner: {{listing.winner}}
                <br>Data of Creation: {{listing.datecreate}}
                <br>Data of closing: {{listing.datefinished}}
                <h6>Owner: {{listing.userauction}}</h6>
                </p>

            </li>
            <hr>
            {% endif %}
            {% endfor %}
        </ul>
        </p>
</div>
{% endblock %}