{% extends "auctions/layout.html" %}

{% block body %}

<h2>Options for {{ user.username }}: </h2>

<a href="{% url 'newListing' %}" class="list-group-item list-group-item-action" style="max-width: 35%">Add new
    Listing</a>


<a href="{%url 'listListing' %}" class="list-group-item list-group-item-action" style="max-width: 35%">See
    categorys available</a>


<div>
    <p>
        <br>
    <h2>List of Auctions: </h1>
        <ul>
            {% for listing in listofauctions %}
            <li>
                <div><img src={{listing.image}} alt="BLANK" style="width: 7%;"></div>
                <a href="{% url 'auctiondisplay' listing.id %}">
                    <p>{{listing.title}}
                        <br>{{listing.descript}}
                        <br>{{listing.category}}
                        <br>{{listing.price}}
                    </p>
                </a>
            </li>
            <hr>
            {% endfor %}
        </ul>
        </p>
</div>


{% if auctionfinish %}
<p><br>
<h2>Completed Auctions: </h2>
<div>
    {% for auction in auctionfinish %}
    <div>
        <br><img src="{{auction.image}}" alt="BLANK" style="width: 7%;">
        <br>Title: {{auction.title}}
        <br>Description: {{auction.descript}}
        <br>Final Price: {{auction.price}}
        <br>Winner: {{auction.userauction}}
        <br>Time of Closing: {{auction.datefinished}}
        <br>
    </div>
    <hr>
    {% endfor %}
    </p>
</div>
{% endif %}


{% endblock %}