{% extends "auctions/layout.html" %}

{% block body %}

<ul>
    <li>Listings-></li>
    {% for listing in listListing %}
    <li>
        <a href="{% url 'auctiondisplay' listing.id %}">{{listing}}</a>
        <div><img src={{listing.image}} alt="BLANK" style="width: 7%;"></div>
    </li>
    {% endfor %}
</ul>


<ol>
    <h2>CATEGORYS:</h2>
    {% for x,y in categorys %}
    <div>
        <li>{{x}}
            <img src="{{y}}" alt="BLANK" style="width: 5%">
        </li>
    </div>
    {% endfor %}
</ol>





{% endblock %}