{% extends "auctions/layout.html" %}

{% block body %}

<h1>{{auctiondisplay.title}}</h1>

<ul>
    {% for listing in listListing %}
    <li>
        <a href="{% url 'auctiondisplay' listing.id %}">{{listing}}</a>
        <div><img src={{listing.image}} alt="BLANK" style="width: 7%;"></div>
    </li>
    <hr>
    {% endfor %}
</ul>


<ol>
    <h2>CATEGORYS:</h2>
    {% for x,y in categorys %}
    <div>
        <li>{{x}}:
            <img src="{{y}}" alt="BLANK" style="width: 5%;margin: 1%;">
        </li>
    </div>
    <hr>
    {% endfor %}
</ol>





{% endblock %}