{% extends "auctions/layout.html" %}


{% block body %}
<h2>New Listing</h2>

<!--specify a title for the listing, a text-based description, and what the starting bid should be. Users should
    also optionally be able to provide a URL for an image for the listing and/or a category (e.g. Fashion, Toys, Electronics, Home, etc.).!-->

<form action="{% url 'newListing' %}" method="post">
    {% csrf_token %}
    {{listingForm}}
    <h2>CATEGORY:</h2>
    <div></div>
    <div style="margin-top: 2%;">
        <input type="submit" value="Save">
    </div>
</form>

{% endblock %}