{% extends "auctions/layout.html" %}

{% block body %}
{% if user.userwishes.all %}
<h1>List of wishes</h1>
{% else %}
<p><br>
<h2>The Wishlist is Empty</h2>
</p>
{% endif %}
<ul class="list-group" style="width: 30%;">
    {% for wishes in user.userwishes.all %}
    <p>
        <li class="list-group-item">
            <br><img src="{{wishes.image}}" alt="BLANK" style="width: 20%;">
            <br>{{wishes.title}}
            <br>{{wishes.descript}}
            <br>{{wishes.price}}
            <br>
            <a href="{% url 'auctiondisplay' wishes.id %}">{{wishes.title}} Page</a>
    </p>
    </li>
    {% endfor %}
</ul>











{% endblock %}